.home-box {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  height: 30px;
  /* gap: 20px; */
}
.chart-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  /* gap: 20px; */
}
.calendar-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  /* gap: 20px; */
}